<form (ngSubmit)="onSubmit()" #f="ngForm">
  <div class="form-group">
    <label for="formGroupExampleInput">Date of Purchase</label>
    <input type="date" class="form-control" id="formGroupExampleInput" placeholder="Date of Purchase" ngModel name = "date" required>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Amount</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Amount of Purchase" ngModel name = "amount" required>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Description</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Description" ngModel name = "description" required>
  </div>
</form>
  <span>Total Loyalty Points: {{customer.loyaltyPoints}} </span>
  <br>
  <button mat-raised-button type="submit" (click)="addPurchase(f)">Save Purchase</button><button mat-raised-button type="button" (click)="onSubmit()">Save Customer</button><a routerLink = "/landingPage"><button mat-raised-button>Home</button></a>
