.container{
  margin: 10px 400px;
}
.quick-sign-up {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .password {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .sign-up-card {
    max-width: 350px;
  }
  
  .example-header-image {
    background-image: url('../../assets/images/user.svg');
    background-size: cover;
  }