<mat-card class="sign-up-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Log In</mat-card-title>
        <mat-card-subtitle>Hey welcome back!!</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/images/clay-banks-31l-8hY1mt4-unsplash.jpg"
        alt="Photo of a point of sale system">
    <mat-card-content>
        <form class="quick-sign-up">
            <mat-form-field class="storeNumber">
                <mat-label>Store Number</mat-label>
                <input matInput placeholder="Ex. Store#" value="3836">
            </mat-form-field>
            <br>
            <mat-form-field class="Password">
                <mat-label>Password</mat-label>
                <textarea matInput placeholder="See store manager if you're unsure"></textarea>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary">SUBMIT</button>
    </mat-card-actions>
</mat-card>

