
<mat-accordion  *ngIf="(customer$ | async) as customer ">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Customer Information {{customer | json}}
        </mat-panel-title>
        <mat-panel-description>
          Customer Name: {{customer?.username}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Member since 2021</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Lifetime Loyalty Points
        </mat-panel-title>
        <mat-panel-description>
         {{panelOpenState ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Loyalty Points Total: {{customer?.loyaltyPoints}}</p>
      <ul>
        <li *ngFor="let purchase of customer?.purchases">
          {{purchase.description}} - {{purchase.loyaltyPoints}}
        </li>
      </ul>
      <p>Loyalty Points For Current Month:  </p>
      <a routerLink="/customerList"><button mat-raised-button>Return to Customer List</button></a>
    </mat-expansion-panel>
  </mat-accordion>
  <br>
  <a routerLink="/customerList"><button mat-raised-button>Return to Customer List</button></a>

  
