@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.form-control{
  max-width: 500px;
}

.sign-up-card {
    max-width: 350px;
  }
  
.example-header-image {
    background-image: url('../../assets/images/user.svg');
    background-size: cover;
  }
.container{
  margin: 10px 400px;
}
