<mat-list>
    <h3 mat-subheader>Customers</h3>
    <mat-list-item *ngFor="let customer of customers | async; last as last">
       <mat-icon mat-list-icon>folder</mat-icon>
       <h4 mat-line></h4>
       <p mat-line class="demo-2"> {{customer.username}}</p>
       <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
       <button mat-raised-button color="warn"(click)="deleteCustomer(customer)">Refund Customer</button><button mat-raised-button color="primary"(click)="addPurchase(customer)">Add Purchase</button><button mat-raised-button color="accent"(click)="onViewCustomer(customer)">View Customer</button>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Purchases</h3>
    <mat-list-item *ngFor="let purchases of purchases">
       <mat-icon mat-list-icon>Loyalty Points</mat-icon>
       <h4 mat-line></h4>
       <p mat-line class="demo-2"> {{ purchases }} </p>
    </mat-list-item>
 </mat-list>

 <a routerLink="/landingPage"><button mat-raised-button color="accent">Return to Landing Page</button></a>
